<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 처리하는 문서입니다... -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- <mapper>태그의 namespace속성은 Java소스에서 실행할 SQL문을 호출할 때 같이 사용되는 이름이다. -->
<mapper namespace="admin">
    
    <!--        사업자 승인 페이지 부분       -->
    <!-- 사업자 정보조회(승인대기) -->
    <select id="waitApproval" resultType="restaurantVo">
    	select rst_id, rst_name, rst_req from restaurant where accept is null
    </select>
	
	<!-- 결재관리버튼(승인) -->
	<update id="signupApproval" parameterType="String">
		restaurant set accept=sysdate where rst_id =#{rst_id}
	</update>
	
	<!-- 결재관리버튼(삭제) -->
	<delete id="signupDelete" parameterType="String">
		delete from RESTAURANT where RST_ID = #{rst_id}
	</delete>
	
	<!-- 사업자 정보 조회 (관리자)-->
	<select id="restaurantInfo" resultType="restaurantVo">
		select rst_id, rst_name, rst_addr, rst_tel, 
			(select ctg_name from category a where a.ctg_id = b.ctg_id)
 		from restaurant b	
	</select>
	
	
	<!--                 회원 관리 부분                -->
	<!-- 사업자 상세 조회-->
	<select id="restaurantDetail" resultType="restaurantVo" parameterType="String">
		select b.*,
			(select ctg_name from category a where a.CTG_ID = b.CTG_ID) 
		from RESTAURANT b where RST_ID=#{rst_id}
	</select>
	
	<!-- 멤버 조회 -->
	<select id="memberInfo" resultType="memberVo">
		select mem_id, mem_name, mem_mail, mem_tel, mem_nick, mem_bir from members
	</select>
	
	<!-- 멤버 상세조회 -->
	<select id="memberDetail" resultType="memberVo" parameterType="String">
		select mem_id, mem_name, mem_mail, mem_tel, mem_nick, mem_bir 
		from members where mem_id= #{mem_id}
	</select>	
	
	
	<!--   멤버 블랙리스트      -->
	
	
	
	
	<!--  공지사항 게시판  부분  -->
	
	<!-- 공지사항 전체 조회 -->
	<select id="noticeBoardInfo" resultType="noticeboardVo">
		select nb_id, nb_title, nb_date from noticeboard
	</select>
	
	<!-- 선택한 공지사항 조회 -->
	<select id="noticeBoardDetail" resultType="noticeboardVo">
		select * from noticeboard where NB_ID = 1
	</select>
	

</mapper>









