<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 처리하는 문서입니다... -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- <mapper>태그의 namespace속성은 Java소스에서 실행할 SQL문을 호출할 때 같이 사용되는 이름이다. -->
<mapper namespace="restaurant">
	
	<!-- 승인 여부 확인  1이면 승인 안된거임 0이면 로그인완료-->
	<select id="rstAccept" resultType="int" parameterType="restaurantVo">
		select 
		count(*)
		from RESTAURANT
		where RST_ID = #{rst_id}
		and RST_PASS = #{rst_pass}
		and ACCEPT is null
	</select>
	
	
	<!-- 로그인 쿼리 -->
	<select id="rstLogin" resultType="restaurantVo" parameterType="restaurantVo">
		select *
		from RESTAURANT
		where RST_ID = #{rst_id}
		and RST_PASS = #{rst_pass}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="rstSearchId" parameterType="String" resultType="String">
		select RST_ID
		from RESTAURANT
		where RST_MAIL = #{data};
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="rstSearchPass" resultType="String" parameterType="restaurantVo">
		select RST_Pass
		from RESTAURANT
		where RST_MAIL = #{rst_mail}
		and RST_ID = #{rst_id}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePass" parameterType="String">
		update RESTAURANT
		set RST_PASS = #{data}
	</update>
	
	<!-- 회원가입 -->
	<insert id="rstJoin" parameterType="restaurantVo">
		insert into 
		restaurant(RST_ID,
				   RST_NAME,
				   RST_ADDR,
				   RST_TEL,
				   RST_INFO,
				   RST_PASS,
				   RST_MAIL,
				   CLOSEDDAY
				   BS_NUM,
				   OPNETME,
				   CLOSETIME,
				   CTG_ID,
				   RST_REQ)
		 values(#{RST_ID},
		 #{RST_NAME},
		 #{RST_ADDR},
		 #{RST_TEL},
		 #{RST_INFO},
		 #{RST_PASS},
		 #{RST_MAIL},
		 #{CLOSEDDAY},
		 #{BS_NUM},
		 #{OPNETME},
		 #{CLOSETIME},
		 #{CTG_ID},
		 sysdate)
	</insert>
		
    <!-- 메뉴 전체 조회 -->
    <select id="rstAllMenu" parameterType="String" resultType="menuVo">
    	select * 
    	from MENU
    	where RST_ID = #{data}
    </select>
    
    <!-- 메뉴 삭제 -->
    <delete id="delMenu" parameterType="menuVo">
    	delete from MENU
    	where MENU_ID = #{menu_id}
    	and RST_ID = #{rst_id}
    </delete>
    
    <!-- 메뉴 수정 -->
    <update id="updateMenu" parameterType="Map">
    	update MENU 
    	<set>
    		<if test="menu_name != null">MENU_NAME = #{menu_name},</if>
    		<if test="menu_price != null">MENU_PRICE = #{menu_price},</if>
    		<if test="menu_ds != null">MENU_DS = #{menu_ds},</if>
    		<if test="menu_photo != null">MENU_PHOTO = #{menu_photo}</if>
    	</set>
    	where MENU_ID = #{menu_id}
    	and RST_ID = #{rst_id}
    </update>
    
    <!-- 메뉴 등록전 해야할일 -->
    <select id="">
    	
    </select>
    
    <!-- 메뉴 등록 이거 해야됨-->
    <!-- <insert id="insertMenu" parameterType="menuVo">
    	insert into menu values(
    		(select count(*)+1 from menu where rst_id = #{rst_id}),
            #{rst_id},
            #{menu_name},
            #{menu_price},
            #{menu_ds},
            '');
    </insert> -->
    
    <!-- 리뷰 조회 -->
    <select id="searchReview" parameterType="String" resultType="reviewVo">
    	select * 
    	from REVIEW
    	where RST_ID = #{data}
    </select>
    
    <!-- 리뷰 신고 -->
    <insert id="reviewReport" parameterType="rvreportVo">
    	insert into RVREPORT
    	values(seq_rvr.nextval,
	    	   #{rvr_reason},
	    	   sysdate,
	    	   #{mem_id},
	    	   #{rv_id})
    </insert>
    
    <!-- 댓글 달기 -->
    <insert id="insertComment" parameterType="rstcmtVo">
		insert into RSTCMT
		values (seq_rcmt.nextval,
				#{rcmt_content},
				#{rst_id},
				#{RV_ID})	  
    </insert>
    
    <!-- 예약 조회 -->
    <select id="searchReserv" parameterType="String" resultType="reservationVo">
	    select * 
	    from reservation 
	    where rs_id = #{rs_id}
    </select>
    
    <!-- 예약 전체 조회 -->
	<select id="searchAllReserv" parameterType="String" resultType="reservationVo">
	    select * 
	    from reservation 
	    where rst_id = #{rst_id}
    </select>
	
	<!--예약 삭제-->  
	<delete id="delReserv" parameterType="String">
		delete 
		from reservation 
		where rs_id = #{rs_id}
	</delete>

</mapper>









